.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 8px;
  color: white;
  font-family: sans-serif;
  box-sizing: border-box;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
  border-radius: 8px;
  padding: 15px;
}

.categoryHeader {
  text-align: left;
}

.sumHeader {
  text-align: right;
}

.tableBody {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  height: calc(100vh - 747px);
  overflow-y: auto;
  overflow-x: hidden;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.categoryCell {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.colorIndicator {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.sumCell {
  text-align: right;
  font-size: 16px;
}

.tableSummary {
  margin-top: 20px;
  padding: 0 16px;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 16px;
}

.summaryLabel {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
}

.expensesValue {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: var(--dashboard-text);
}

.incomeValue {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: var(--yellow);
}

@media screen and (min-width: 768px) {
  .tableBody {
    height: calc(100vh - 620px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1280px) {
  .tableBody {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
