.dashboard {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("../../assets/img/mobile_dash.webp");
  background-position: center center, center center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
@media screen and (min-width: 768px) {
  .dashboard {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../../assets/img/tablet_dash.webp");
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  .dashboard {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../../assets/img/iMac_dash.webp");
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }
}
