.main_container {
	background-image: url('../../assets/bg.svg');
	background-repeat: no-repeat;
	background-size: cover;

}

.nav_balance {
	margin-bottom: 12px;
}

/* .nav_container {
	display: flex;
} */