.transactionListContainer {
  background-color: rgba(42, 67, 108, 0.282);
  width: 280px;
  height: 293px;
  border-radius: 10px;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #ff868d;
  margin-bottom: 8px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px 12px 20px;
  border-bottom: 2px solid #e6e4e8;
}

.listItem:last-child {
  border: 0;
}

button {
  width: 69px;
  height: 29px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );

  letter-spacing: 0.1em;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
}

.edit {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  flex-direction: row;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.deleteEdit {
  border: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px 12px 20px;
}

@media screen and (min-width: 768px) {
  .transactionListContainer {
    background-color: rgba(11, 88, 212, 0.282);
    width: 704px;
    height: fit-content;
    max-height: 150px;
    border-radius: 0;
    border: 0;
    margin: 0;
  }

  .transactionList {
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 16px 20px;
    margin: 0;
  }

  .listItem {
    display: inline-block;
    width: calc(100% / 6);
    border: 0;
    padding: 0;
  }

  /* .transactionList:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 8px;
    } */

  .headerTextMobile {
    display: none;
  }

  .editSpan {
    display: none;
  }

  .deleteEdit {
    /* display: inline-block; */
    width: calc(100% / 6);
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 8px;
  }
}
