.transactionListContainer {
    background-color: rgba(42, 67, 108, 0.282);
    width: 280px;
    height: 293px;
    border-radius: 10px;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #ff868d;
}

.listItem {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 12px 20px;
    border-bottom: 2px solid;
}

.listItem:last-child {
    border: 0;
}


@media screen and (min-width: 361px) {

    .transactionListContainer {
        background-color: rgba(11, 88, 212, 0.282);
        width: 704px;
        height: fit-content;
        max-height: 150px;
        border-radius: 0;
        border: 0;
    }

    .transactionList {
        border-bottom: 2px solid;
        display: flex;
        justify-content: space-between;
        padding: 16px 20px 16px 20px;
        margin: 0;
    }

    .listItem {
        display: inline-block;
        width: calc(100% /6);
        border: 0;
    }

    .headerTextMobile {
        display: none;
    }
}