.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  height: 568px;
  min-width: 320px;
  max-width: 360px;
  padding: 23px 20px;
  backdrop-filter: blur(30px);
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(255, 255, 255, 0.1)),
    radial-gradient(
      circle at center,
      rgba(47, 21, 176, 0.73) 1px,
      transparent 454px
    );
}

.logoThumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 7px;
}

.fieldThumb {
  width: 100%;
}

.iconThumb {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3px;
}

.iconLogo {
  width: 27px;
  height: 26px;
}

.title {
  font-size: 19px;
  color: var(--white);
}

.icon {
  fill: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 12px;
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.field {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-left: 56px;
  padding-right: 40px;
  padding-bottom: 6px;
  color: var(--white-600);
}

.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus {
  background-color: transparent;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: var(--white-600);
  caret-color: var(--white-600);
}

.eyeButton {
  position: absolute;
  right: 10px;
  fill: rgba(255, 255, 255, 0.4);
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.buttonThumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.button {
  width: 100%;
  max-width: 300px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regButton {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  background: var(--button-gradient);
  color: var(--white);
}

.logButton {
  background: #fcfcfc;
  text-decoration: none;
  color: var(--text-button);
}

.regButton:hover,
.regButton:focus {
  transform: scale(1.05);
  background-image: linear-gradient(
    to right,
    #7000ff 0%,
    #9e40ba 31%,
    #ffc727 100%
  );
  background-size: 200%;
  background-position: right center;
}

.logButton:hover,
.logButton:focus {
  transform: scale(1.05);
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgb(98, 63, 139) 31%,
    rgb(255, 255, 255) 100%
  );
  background-size: 200%;
  background-position: right center;
  transition: all 1s ease 0s;
}

.errorThumb {
  position: absolute;
}

.marginErrorThumb {
  margin-top: 8px;
}

.error {
  width: 290px;
  font-size: 10px;
  color: #f00000;
  position: absolute;
  left: 8px;
  top: 6px;
}

.passwordStrengthBarThumb {
  width: 100%;
}

.passwordStrengthBar {
  width: 100%;
  margin: 6px 0px 0px;
}

.scoreWordClassName {
  position: absolute;
  right: 0;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 533px;
    width: 533px;
    height: 624px;
    border-radius: 8px;
    padding: 40px 62px;
  }

  .logoThumb {
    gap: 10px;
  }

  .iconLogo {
    width: 36px;
    height: 36px;
  }

  .title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    backdrop-filter: none;
  }
}
