.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  height: 568px;
  min-width: 320px;
  max-width: 360px;
  padding: 23px 20px;
  background-image: url(../../assets/img/bg_form_1x.jpg);
  background-color: #101010;
}
@media screen and (min-resolution: 192dpi) {
  .form {
    background-image: url(../../assets/img/bg_form_2x.jpg);
  }
}

.logoThumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 7px;
}

.iconThumb {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3px;
}

.iconLogo {
  width: 27px;
  height: 26px;
}

.title {
  font-size: 19px;
  color: var(--white);
}

.icon {
  fill: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 12px;
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

.field {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-left: 56px;
  padding-bottom: 6px;
  color: var(--white-600);
}
.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus {
  background-color: transparent;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: var(--white-600);
  caret-color: var(--white-600);
}

.buttonThumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: -20px;
}

.regButton {
  width: 100%;
  max-width: 300px;
  height: 50px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logButton {
  width: 100%;
  max-width: 300px;
  height: 50px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-button);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease 0s;
}

.regButton:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    to right,
    #7000ff 0%,
    #9e40ba 31%,
    #ffc727 100%
  );
  background-size: 200%;
  background-position: right center;
}

.logButton:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgb(98, 63, 139) 31%,
    rgb(255, 255, 255) 100%
  );
  background-size: 200%;
  background-position: right center;
}

.errorThumb {
  position: absolute;
}
.marginErrorThumb {
  margin-top: 8px;
}

.error {
  width: 290px;
  font-size: 10px;
  color: #f00000;
  position: absolute;
  left: 8px;
  top: 6px;
}

.passwordStrengthBarThumb {
  width: 100%;
}

.passwordStrengthBar {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 533px;
    height: 624px;
    border-radius: 8px;
  }

  .logoThumb {
    gap: 10px;
  }

  .iconLogo {
    width: 36px;
    height: 36px;
  }

  .title {
    font-size: 26px;
  }
}
