.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px);
  background: rgba(34, 13, 91, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  padding: 28px 20px;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 100%;
  z-index: 150;
  background: linear-gradient(
    0deg,
    rgba(83, 61, 186, 1) 0%,
    rgba(80, 48, 154, 1) 43.14%,
    rgba(106, 70, 165, 1) 73.27%,
    rgba(133, 93, 175, 1) 120.03%
  );
  box-shadow: 0px 4px 60px 0px #faf5f540;
  backdrop-filter: blur(50px);
  overflow: auto;
}

.closeBtn {
    background-color: inherit;
    position: absolute;
    top: 20px;
    right: 20px;
}

.text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
text-align: center;
color: var(--white);
margin-bottom: 83px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.avatarPreview {
    width: 96px;
    height: 96px;
    border-radius: 11px;

}

.hiddenFileInput {
    display: none;
}
.iconPlus {
  fill: #000;
  stroke: #000;
  width: 13px;
  height: 13px;
}
.plusIcon {
    border: #ffc727;
    width: 32px;
    height: 32px;
    border-radius: 8px;
background: linear-gradient(167deg, #ffc727 0%, #9e40ba 61.46%, #7000ff 90.54%);
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 73px;
left: 32px;
}

.avatarLabel {
    width: 96px;
    margin-bottom: 75px;
    position: relative;
}
.labelBox {
    margin-bottom: 80px;
    width: 100%;
}
.input {
    
    width: 100%;
  padding: 8px 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.errorInput {
    border-bottom: 1px solid red;
    color: red;
}

.error {
    padding-top: 8px;
    margin-left: 18px;
    color: red;
    font-size: 12px;
  }

.saveBtn {
    width: 100%;
    border-radius: 20px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  color: white;
  border: none;
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
letter-spacing: 0.1em;
text-transform: uppercase;
text-align: center;
color: var(--white);
}
.saveBtn:disabled {
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .modal {
    border-radius: 8px;
width: 540px;
height: 421px;
box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
padding: 41px 80px;

  }
.iconClose {
  stroke: #fff;
  background-color: inherit;
  width: 18px;
  height: 18px;
}

  .text {
font-size: 30px;
margin-bottom: 24px;
}

.avatarLabel {
  width: 68px;
  margin-bottom: 30px;
}

.avatarPreview {
  width: 68px;
  height: 68px;
  border-radius: 8px;

}
.plusIcon {
 
  width: 24px;
  height: 24px;
  border-radius: 6px;
top: 55px;
left: 22px;
}

.labelBox {
  margin-bottom: 57px;
}
}

@media screen and (min-width: 1280px) {
  .modal {
    border-radius: 8px;
width: 540px;
height: 390px;
  }
  .labelBox {
    margin-bottom: 49px;
  }


}