.navigation {
  padding-top: 12px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25),
    inset 0 -3px 2px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
}

.container {
  display: flex;
  flex-direction: row;
  gap: 38px;
  align-items: center;
  justify-content: center;
}

.transactions,
.statistics,
.currency {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  box-shadow: 0 3px 10px 0 rgba(74, 86, 226, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinkActive .transactions,
.navLinkActive .statistics,
.navLinkActive .currency {
  background-color: var(--icon-violet);
}

.homeIcon {
  font-size: 32px;
}
.statsIcon {
  font-size: 30px;
}
.currIcon {
  font-size: 25px;
}
.navLinkActive .navIcon {
  color: #fff;
}
