.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(7px);
    /* background: rgba(34, 13, 91, 0.23); */
    background: rgba(34, 13, 91, 0.5);
    z-index: 10;
  }