.nav_balance {
  margin-bottom: 34px;
}

.buttonAdd {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}

.iconPlus {
  width: 20px;
  height: 20px;
  stroke: var(--white);
}

@media screen and (min-width:768px) {
  .buttonAdd {
    right: 40px;
  bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-right: 16px;
    padding-top: 46px;
  }
  .nav_balance {
    margin-bottom: 0;
  }
}
  
  