.container {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("../../assets/img/login-desktop.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
