.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--white-400);
  margin-top: 8px;
  margin-left: 56px;
}

.balance {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  color: var(--white);

  margin-top: 12px;
  margin-left: 56px;
  margin-bottom: 12px;
}
