.mainContainer {
  background-color: linear-gradient(207deg, #341fa0 44.63%, #652392 88.57%);
}

.ListHeader {
  display: none;
}

.transactionsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 222px);
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .ListHeader {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 12px 20px;
    background-color: rgba(82, 59, 126, 0.6);
    border-radius: 8px;
    margin: 0;
    width: 704px;
  }

  .listHeaderItem {
    width: calc(100% / 6);
  }
}
