.mainContainer {
    background-color: linear-gradient(207deg, #341fa0 44.63%, #652392 88.57%);
    ;
}

.ListHeader {
    display: none;
}

@media screen and (min-width: 361px) {

    .ListHeader {
        display: flex;
        justify-content: space-between;
        padding: 12px 20px 12px 20px;
        background-color: rgba(82, 59, 126, 0.6);
        border-radius: 8px;
        margin: 0;
        width: 704px;
    }

    .listHeaderItem {
        width: calc(100% / 6);
    }
}